
@*@using DNEBlazor.Data.Models.Ecom;
@using DNEBlazor.Repository.Data;
@using DNEBlazor.Service.Ecom;*@
@*@inherits OwningComponentBase<ProductCategoryService>*@
@*@inject DNEBlazor.Repository.Ecom.IProductEcom iProductEcom;*@

<center>
    <h3>Current Products</h3> <br />
</center>


